@charset "utf-8";
/* CSS Document */
.underline {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #7F9DB9;
}
.list_top{
	margin-top:40px;}
.list_top1{
	margin-top:10px;}
.list_top2{
	margin-top:80px;}
.bg{
/*	background:url(../img/oldbg2-bg.jpg);
	background-color: rgb(221, 244, 255);
	background-repeat: repeat-x;*/
	background: linear-gradient(#b04a34, white);}
.bg1{
	background: white;
	width:920px;
	}
.bg2{
	text-align:left;
	width:50%;
	}
#spoc_gruop li{
	padding-right:80px;
	float:left;
	}
#spoc_work li{
	padding-right:85px;
	float:left;
	}
.bg3{
	text-align:left;
	width:40%;
	}
.textarea_style{
	 overflow: auto;
	 width: 357px;
	 height: 26px;}

@media screen and (max-width: 970px) {
	.bg{
/*	background:url(../img/oldbg2-bg.jpg);
	background-color: rgb(221, 244, 255);
	background-repeat: repeat-x;*/
	background: #fff;}
.bg1{
	width:920px;
	float:left;
	}
.bg2{
	text-align:left;
	width:50%;
	float:left;
	}
.bg3{
	text-align:left;
	width:40%;
	float:left;
	}
    
}
